<!DOCTYPE html>
<html>
<head>
  <title>GrapeSwaggerUi</title>
  <%= stylesheet_link_tag    "grape_swagger_ui/application", media: "all" %>
  <%= javascript_include_tag "grape_swagger_ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
